# temporarily not to commit
sphinx_documentation
src/transient.ipynb

# general
*.swp
*.csv

# Output
*.png

# LaTeX specific
*.aux
*.log
*.pdf
*.toc
*.out
*.gz
*.bbl
*.xml
*.blg
*blx.bib

# python specific
__pycache__
